.single-post__pilule {
  font-size: 1rem;
  font-weight: 200;
  width: 200px;
  border-radius: 21px;
  text-align: center;
  margin: auto;
  background-color: #DE3163;
  color: #fff;
  letter-spacing: 0.1rem;
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 2px 0 1px 0;
}

.single-post__bloc-post {
  padding-bottom: 30px;
  border-bottom: 0.5px solid #ddd;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: justify;
}

.single-post__bloc-post aside {
  width: 100%;

}

.single-post_presentation p {
  font-size:20px;
}

.single-post__fiche-technique {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #ddd;
}

.single-post__liens {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #ddd;
}

.single-post__fiche-activite {
  display:inline-block;
  background-color: #FFF;
  padding: 2px 8px;
  font-size: 0.7rem;
  border: 1px solid #333;
  width:auto;
}

.single-post__fiche-activite:hover {
  background-color: #d00f1a;
  border: 1px solid #d00f1a;
  transition-property: background-color;
  transition-duration: 0.7s;
}

.single-post__fiche-activite a {
  color:#333;
}
.single-post__fiche-activite:hover a {
  color:#fff;
}

.single-post__fiche-technique h3 {
  margin-top: 0;
}

/*.single-post__parcours {
  column-count: 3;
  column-gap: 30px;
  margin-top: 30px;
}*/

.single-post__parcours h4 {
  margin-top: 0;
}

@media all and (max-width: 900px) {
  .single-post__bloc-post {
    padding-bottom: 0px;
    border-bottom: 0.5px solid #ddd;
    margin-bottom: 0px;
    overflow: hidden;
  }
}

/* ------------------------------------- */
/* CSS ADAPT MOBILE */
/* ------------------------------------- */

@media all and (max-width: 900px) {
  .single-post__bloc-post h3 {
    margin-top: 0;
  }
}

@media all and (max-width: 900px) {
  .single-post__bloc-post aside {
    width: 100%;
    border-top: 0.5px solid #ddd;
  }
}

@media all and (max-width: 900px) {
  .single-post__mobile {
    padding: 20px;
  }
}

@media all and (max-width: 900px) {
  .single-post__fiche-technique {
    margin-bottom: 0px;
    padding: 20px;
    border-bottom: 0.5px solid #ddd;
  }
}

@media all and (max-width: 900px) {
  .single-post__parcours {
    column-count: 1;
    column-gap: 30px;
    margin-top: 30px;
  }
}

@media all and (max-width: 900px) {
  .single-post_presentation {
    width: 100%;
  }
  .single-post_presentation p {
    padding: 20px;
  }
  .single-post_presentation figcaption p {
    padding: 4px;
  }
}

